**TALLE** # **2**

In [ ]:

# valor de la sale1
sale1 = float(input("¿cuanto es el valor del sale1"))
# calculo de la comision
comision = sale1 * 0.10
# suma de la comision mas la sale1
total = sale1 + comision
print("la comision es= ${:,.0f} ".format(comision,total))

# valor de la sale2
sale2 = float(input("¿cuanto es el valor del sale2?"))
# calculo de la comision
comision = sale2 * 0.10
# suma de la comision mas sale2
total = sale2 + comision 
print("la comision es= ${:,.0f} ".format(comision,total))

# valor de la sale3
sale3 = float(input("¿cuanto es el valor del sale3?"))
# calculo de la comision
comision = sale3 * 0.10
# suma de la comision mas sale3
total = sale3 + comision
print("la comision es= ${:,.0f}".format(comision,total))

¿cuanto es el valor del sale1 350000
la comision es= $35,000
¿cuanto es el valor del sale2? 450000
la comision es= $45,000
¿cuanto es el valor del sale3? 650000
la comision es= $65,000

In [ ]:

salary= float(input("¿cuanto es el salary"))
# calculo salary mas comision
comision = salary + 0.10
# la suma de la comision mas el salary
total = salary + comision
print("el salary es= ${:,.0f}".format(salary))

¿cuanto es el salary 1200000
el salary es= $1,200,000

In [ ]:
comision1= float(input("digite el valor"))
comision2 = float(input("digite el valor"))
comision3 = float(input("digite el valor"))
res = comision1 + comision2 + comision3
print(res)

digite el valor35000
digite el valor45000
digite el valor65000
145000.0

In [ ]:
comision = float(input("digite el valor"))
salary  = float(input("digite el valor"))
res = comision + salary
print(res)

digite el valor 145000
digite el valor 1200000
1345000.0