In [ ]:
nombre = "Daniela Alexandra"
print(nombre)
apellido = "Gonzalez Rodriguez"
print(apellido)
id = 1007568604
print(id)

Daniela Alexandra
Gonzalez Rodriguez
1007568604

In [ ]:
edad = 25 
print(edad)
anddress = "cra 93 128 f 20"
print(anddress)

25
cra 93 128 f 20

In [ ]:
civilstatus = "soltera"
print(civilstatus)
phone = 3043444337
print(phone)

soltera
3043444337

In [ ]:
numberofchildre = 0
print(numberofchildre)
height = "1.56cm"
print(height)
dateofgire = "dia 18"
print(dateofgire)
mes = "agosto"
print(mes)
año = 2022
print(año)

0
1.56cm
dia 18
agosto
2022

In [ ]:
salary = 1300000
print(salary)
workingdays = 1.095
print(workingdays)

1300000
1.095